@import 'config';
@import 'vars';
@import 'mixin-base';


body {
    font-family: $font;
    font-size: $fontSize;
    text-align: center;
    color: $priGrayishBlue
}

.bg-site { 
    //@include box-whmpd(100vw, 100vh);
    //min-width: $content-mw;
    height: 100vh;
    min-height: 300px;
    min-width: 300px;

    background-image: $img-pattern, $img-stars, $bg-gradient;
    background-repeat: no-repeat;
    background-position: bottom;
}

.content-wrapper {
    @include box-whmpd(95%,100%,0 auto);
    max-width: $content-MW;
}

main {
    @include box-whmpd(100%, 90%);
    @include flex-dja(column, center, stretch);
    max-height: calc(100% - #{$footer-mh});

    header {
        flex-basis: 18%;
        min-height: none;

        h1 {
            color:white;
            text-transform: uppercase;
            font-size: 1.4em;
            letter-spacing: 8px;
            margin-bottom: 10px;
        }
    }
    
    /* countdown */
    .countdown {
        @include box-whmpd($m: 0 0 10px);
        flex-basis: max(50%);
        @include flex-dja($j: space-around,$a: flex-start);
        

        .card-group{
            
            .card {
                @include box-whmpd($card-w, $card-h);
                max-height: $card-MH;
                max-width: $card-MW;
                background: $neuVeryDarkMostlyBlue;
                border-radius: 7%;
            }
            
            
            .description {
                @extend .basic-box;
                margin-top: 12%;
                font-size: $card-fs;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .5vw;
            }

        }

    }

}

//card animation
.card div::before,
.card div::after
{
    content: "";
    width: 10%; 
    height: 10%; 
    position: absolute;
    top: 45%;
    background-color: $neuVeryDarkMostlyBlue;
    border-radius: 50%;
}
.card div::before { left: -5.5%; }
.card div::after{ right: -5.5%; }


// social links, footer
footer.social-icons {
    .icon {
        @include box-whmpd($p: 0 1rem, $d: inline-block);
    }
}



