@import 'config';
@import 'vars';
@import 'mixin-base';


body {
    font-family: $font;
    font-size: $fontSize;
    text-align: center;
    color: $priGrayishBlue
}

.bg-site { 
    height: 100vh;
    min-height: 300px;
    min-width: 300px;

    background-image: $img-stars;
    position: relative;
    background-color:hsl(268, 25%, 14%);

    animation: bg-sky 15s ease infinite alternate;
    @keyframes bg-sky {
        0%{
            background-color:hsl(268, 25%, 14%);
        }50%{
            background-color:hsla(258, 29%, 16%, .98);
        }100%{
            background-color:hsl(258, 29%, 16%);
        }
    }
    
    
    .bg-stars{
        width: 100%;
        height: 80%;
        position:absolute;
        top: 0px;
        background-image: $img-stars;
        background-repeat: repeat;
        background-position: bottom;

        animation-name: bg-space, bg-stars;
        animation-duration: 30s, 5s;
        animation-timing-function: linear, ease-in;
        animation-iteration-count: infinite;
        animation-direction: normal, alternate;
        transform-origin: top;
    
        @keyframes bg-space {
            0%{
                transform: scale(1);
                opacity: 0.1;
            }10%{
                opacity: 1;
            }90%{
                opacity: 1;
            }100%{
                transform: scale(.8) rotateZ(15deg);
                opacity: 0;
            }
        }
        @keyframes bg-stars {
            0%{
                filter: brightness(.8);
            }100%{
                filter: brightness(1.8);
            }
        }

    }

    .bg-hills{
        width: 100%;
        height: 30%;
        position:absolute;
        bottom: 0px;
        background-image: $img-pattern;
        background-repeat: repeat-x;
        background-position: top right;
    }

}

.content-wrapper {
    @include box-whmpd(95%,100%,0 auto);
    max-width: $content-MW;
}

main {
    @include box-whmpd(100%, 90%);
    @include flex-dja(column, center, stretch);
    max-height: calc(100% - #{$footer-mh});
    position: relative;

    header {
        flex-basis: 18%;
        min-height: none;

        h1 {
            color:white;
            text-transform: uppercase;
            font-size: 1.4em;
            letter-spacing: 8px;
            margin-bottom: 10px;
        }
    }
    
    /* countdown */
    .countdown {
        @include box-whmpd($m: 0 0 10px);
        @include flex-dja($j: space-around,$a: flex-start);

        flex-basis: $countdown-fb;

        .card-group{
            
            .card {
                @include box-whmpd($card-w, $card-h);
                max-height: $card-MH;
                max-width: $card-MW;
                background: $neuVeryDarkMostlyBlue;
                border-radius: 10%;

                //card animation
                position: relative;
                perspective:1500px;

                div{
                    font-size: $card-fs;
                    font-weight: 700;
                    color: $priSoftRed;
                    padding-top: 10%;
                    width: 100%;
                    height: 92%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $neuDarkDesaturatedBlue;
                    border: 1px solid $neuDarkDesaturatedBlue;
                    border-radius: 6%;
                    
                    backface-visibility: hidden
                }

            }
            
            
            .description {
                @extend .basic-box;
                margin-top: 12%;
                font-size: $card-des-fs;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .5vw;
            }

        }

    }

}


// social links, footer
footer.social-icons {
    position: relative;
    .icon {
        @include box-whmpd($p: 0 1rem, $d: inline-block);
    }
}



