// flex-direction, justify-content, align-items
@mixin flex-dja (
    $d: row, 
    $j: center, 
    $a: center
){
    display: flex;
    flex-direction: $d;
    justify-content: $j;
    align-items: $a;
}
.flex-cc {
    @include flex-dja();
}


/// hola mundo
@mixin box-whmpd (
    $w: auto,
    $h: auto,
    $m: 0,
    $p: 0,
    $d: block
){
    width: $w;
    height: $h;
    margin: $m;
    padding: $p;
    display: $d;
}
.basic-box {
    @include box-whmpd()
}

