html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --card-des-fs: 2.6vw;
  --card-fs: 10.8vw;
  --countdown-fb: 40%;
  --wrapper-mw: 95% ;
}

@media (min-width: 340px) {
  :root {
    --card--des-fs: 2.8vw;
  }
}
@media (min-width: 500px) {
  :root {
    --card-des-fs: 14px;
  }
}
@media (min-width: 720px) {
  :root {
    --wrapper-mw: 90%
    --card--des-fs: 16px;
    --countdown-fb: 60%;
  }
}
@media (min-width: 800px) {
  :root {
    --card-fs: 88px;
  }
}
.flex-cc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.basic-box, main .countdown .card-group .description {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #8486a9;
}

.bg-site {
  height: 100vh;
  min-height: 300px;
  min-width: 300px;
  background-image: url(../images/bg-stars.svg);
  position: relative;
  background-color: #231b2d;
  animation: bg-sky 15s ease infinite alternate;
}
@keyframes bg-sky {
  0% {
    background-color: #231b2d;
  }
  50% {
    background-color: rgba(36, 29, 53, 0.98);
  }
  100% {
    background-color: #241d35;
  }
}
.bg-site .bg-stars {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0px;
  background-image: url(../images/bg-stars.svg);
  background-repeat: repeat;
  background-position: bottom;
  animation-name: bg-space, bg-stars;
  animation-duration: 30s, 5s;
  animation-timing-function: linear, ease-in;
  animation-iteration-count: infinite;
  animation-direction: normal, alternate;
  transform-origin: top;
}
@keyframes bg-space {
  0% {
    transform: scale(1);
    opacity: 0.1;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(0.8) rotateZ(15deg);
    opacity: 0;
  }
}
@keyframes bg-stars {
  0% {
    filter: brightness(0.8);
  }
  100% {
    filter: brightness(1.8);
  }
}
.bg-site .bg-hills {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0px;
  background-image: url(../images/pattern-hills.svg);
  background-repeat: repeat-x;
  background-position: top right;
}

.content-wrapper {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 800px;
}

main {
  width: 100%;
  height: 90%;
  margin: 0;
  padding: 0;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-height: calc(100% - 35px);
  position: relative;
  /* countdown */
}
main header {
  flex-basis: 18%;
  min-height: none;
}
main header h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 8px;
  margin-bottom: 10px;
}
main .countdown {
  width: auto;
  height: auto;
  margin: 0 0 10px;
  padding: 0;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-basis: var(--countdown-fb);
}
main .countdown .card-group .card {
  width: 20vw;
  height: 20vw;
  margin: 0;
  padding: 0;
  display: block;
  max-height: 160px;
  max-width: 160px;
  background: #191a24;
  border-radius: 10%;
  position: relative;
  perspective: 1500px;
}
main .countdown .card-group .card div {
  font-size: var(--card-fs);
  font-weight: 700;
  color: #fb6087;
  padding-top: 10%;
  width: 100%;
  height: 92%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #343650;
  border: 1px solid #343650;
  border-radius: 6%;
  backface-visibility: hidden;
}
main .countdown .card-group .description {
  margin-top: 12%;
  font-size: var(--card-des-fs);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
}

footer.social-icons {
  position: relative;
}
footer.social-icons .icon {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0 1rem;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
