//fonts
$font: 'Red Hat Text', sans-serif;
$fontSize: 14px;

//primary
$priGrayishBlue: hsl(237, 18%, 59%);
$priSoftRed: hsl(345, 95%, 68%);

//neutral
$neuWhite: hsl(0, 0%, 100%);
$neuDarkDesaturatedBlue: hsl(236, 21%, 26%);
$neuVeryDarkBlue: hsl(235, 16%, 14%);
$neuVeryDarkMostlyBlue: hsl(234, 17%, 12%);

//grandients
$bg-gradient: 
    linear-gradient(
        to bottom,
        $neuVeryDarkMostlyBlue,
        //$neuVeryDarkBlue,
        //hsl(268, 25%, 13%),
        hsl(258, 29%, 16%)40%, 
    );

//url images
$img-pattern: url(../images/pattern-hills.svg);
$img-stars:  url(../images/bg-stars.svg);


$content-MW: 800px;
$content-mw: 290px;
$card-w: 20vw;
$card-h: 20vw;
$card-MW: 160px;
$card-MH: 160px;
$card-des-fs: var(--card-des-fs);
$card-fs: var(--card-fs);
$wrapper-mw: var(--wrapper-mw);
$site: ();
$footer-mh: 35px;
$countdown-fb: var(--countdown-fb);

// native vars
:root {
    --card-des-fs: 2.6vw;
    --card-fs: 10.8vw;
    --countdown-fb: 40%;
    --wrapper-mw: 95%
}

@media (min-width: 340px){
    :root {
        --card--des-fs: 2.8vw;
    }
}
@media (min-width: 500px){
    :root {
        --card-des-fs: 14px;
    }
}
@media (min-width: 720px){
    :root {
        --wrapper-mw: 90%
        --card--des-fs: 16px;
        --countdown-fb: 60%;
    }
}
@media (min-width: 800px){
    :root {
        --card-fs: 88px;
    }
}